@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://db.onlinewebfonts.com/c/af883e70620ae1b984628ff0eba1af8d?family=Yandex+Sans+Text');

.navItem{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.itemInfo{
    margin-left: 8px;
    font-family: 'Yandex Sans Display Light', monospace;
}

.icon{
    font-size: 32px;
    color: #a2a2a2;
}

/*.navItem:last-child{*/
/*    margin-left: auto;*/
/*}*/

.selected{
    /*border-bottom: var(--violet) 2px solid;*/
    background-color: #ffffdd;
}