.table{
    width: 100%;
    border: black 1px solid;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}

.thead{
    background-color: #bab8bb;
}

.headTr{
}

.td{
    padding: 8px 16px;
    border: #dad8d9 1px solid;
}

