.element{
    padding: 0;
    display: flex;
    height: 100%;

}

.textHref:first-child{
    margin-left: 0px;
}
.text{
    line-height: 32px;
    cursor: pointer;
}
.selected{
    border-bottom: var(--violet) 2px solid;
}

.textHref{
    text-decoration: none;
    color: black;
    margin-left: 8px;
    margin-right: 8px;
}
